.blogEntryBox {
    border: 1px solid var(--primary);
}

.blogEntryImage {
    width: 100%;
    height: auto;
}

.blogEntryTextBox {
    padding: 10px 15px 15px;
}
.blogTagList {
    display: inline-flex;
    gap: 0 15px;
    margin: 0 15px;
    flex-wrap: wrap;
}

.blogTag {
    padding: 3px 12px;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    margin: 5px 0;
}

.blogFilterActions {
    margin: 10px 0 20px;
}

.blogResetFilter {
    padding: 3px 12px;
    border: 1px solid #a11515;
    background-color: #a11515;
    color: #FFFFFF;
    border-radius: 15px;
    margin: 5px 0;
}