.blogEntryBox {
    border: 1px solid var(--primary);
}

.blogImageLink {
    display: block;
    overflow: hidden;
}

.blogEntryImage {
    width: 100%;
    height: auto;
    display: block;
    transition: all 300ms ease-in-out;
    transform: scale(1);
}

.blogImageLink:hover .blogEntryImage {
    transform: scale(1.1);
}

.blogAuthorInfo {
    padding: 5px 15px;
    background-color: #f8f8f8;
}

.blogEntryTextBox {
    padding: 10px 15px 15px;
}

.blogTagList {
    display: inline-flex;
    gap: 0 15px;
    margin: 0 15px;
    flex-wrap: wrap;
}

.blogTag {
    padding: 3px 12px;
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    margin: 5px 0;
}

.blogFilterActions {
    margin: 10px 0 20px;
}

.blogResetFilter {
    padding: 3px 12px;
    border: 1px solid #a11515;
    background-color: #a11515;
    color: #FFFFFF;
    border-radius: 15px;
    margin: 5px 0;
}

.blogSidebar {

}

.blogSidebarUl {
    list-style: none;
    padding: 0;
    background-color: #f9f9f9;
}

.blogSidebarUlLi {
    border-bottom: 1px solid #d3d3d3;
    padding: 8px 10px;
}

.blogSidebarUlLiA {
    display: inline-block;
    text-indent: 0;
    transition: all 300ms ease-in-out;
}

.blogSidebarUlLiA:hover {
    text-indent: 10px;
    color: rgba(162, 31, 55, 1);
}